<div>
    <a href="{{ path('latest') }}"
       class="ui button">les cinqs derniers articles</a>
    <form action="{{ path('articlesFiltres') }}" method="get" class="ui form">
        <div class="field">
            <input type="date" name="datelimit">
        </div>
        <button type="submit" class="ui button">Filtrer</button>
    </form>
</div>
<div class="ui cards">
{% for article in articles %}
    <div class="ui card">
        <div class="image">
            <img src="{{ asset("images/article.png") }}">
        </div>
        <div class="content">
            <div class="header">
                {{ article.titre }}
            </div>
        </div>
        <div class="content">
            <div class="ui small feed">
                <div class="event">
                    <div class="content">
                        <div class="summary">
                            <p>{{ article.content }}</p>
                            <a class="ui button" href="{{ path('article', {numArt: article.id}) }}">{{ article.titre }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>