{% extends "base.html.twig" %}

{% block title %}Login{% endblock %}
{% block body %}
    <div>
        {% if error %}
            {{ error.messageKey }}
        {% endif %}
    </div>
    <form action="{{ path('login') }}" class="ui form" method="post">
        <div class="card">
            <div class="header">LOGIN</div>
            <div class="description mb">
                <div class="field">
                    <label for="username">Utilisateur</label>
                    <input type="text" id="username" name="_username" value="{{ lastEmail }}" />
                </div>
                <div class="field">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="_password" />
                </div>
            </div>
            <div class="extra content">
                <div class="ui two button">
                    <button class="ui basic green button" type="submit">Valider</button>
                    <a href="{{ path("home") }}" class="ui basic red button">Annuler</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}