{% extends "base.html.twig" %}

{% block title %}Edition livre{% endblock %}

{% block body %}
    <header class="segment ui raised center aligned yellow">
        <h2>Edition livre</h2>
    </header>
    <div class="ui form">
        {{ form_start(form) }}
        <div class="field">
            {{ form_row(form.titre) }}
        </div>
        <div class="field">
            {{ form_row(form.notation) }}
        </div>
        {{ form_rest(form) }}
        <div class="field">
            <button type="submit" class="ui button">Entregistrer</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}