{% extends "base.html.twig" %}

{% block title %}Edition auteur{% endblock %}

{% block body %}
<header class="segment ui raised center aligned green">
    <h2>Edition auteur</h2>
</header>
    <div class="ui form">
    {{ form_start(form) }}
    {{ form_rest(form) }}
        <button class="ui button" type="submit">Enregistrer</button>
    {{ form_end(form) }}
    </div>
{% endblock %}