{% extends "base.html.twig" %}

{% block title %}Liste livre{% endblock %}

{% block body %}
<header class="segment ui raised center aligned blue">
    <h2>Catalogue livre</h2>
</header>
    {% for message in app.flashes('success') %}
        <div class="">{{ message }}</div>
    {% endfor %}
    <div class="flexbutton mb">
        <a href="{{ path("bookedit",{id: -1}) }}" class="ui button">Nouveau livre</a>
        <a href="{{ path("auteuredit",{id: -1}) }}" class="ui button">Nouvel auteur</a>
    </div>
    <div class="ui cards">
        {% for book in books %}
            <div class="card">
                <div class="content">
                    <div class="header">
                      {{ book.titre}}
                    </div>
                    <div class="meta">
                        {% for auteur in book.auteurs %}
                            {{ auteur.fullName }}&nbsp;
                        {% endfor %}
                    </div>
                    <div class="meta" style="text-align: right">
                        {{ book.genre.category }}
                    </div>
                    <div class="description">
                        {{ book.description }}
                    </div>
                    <div class="footer flexbutton">
                        <a href="{{ path("bookedit", {id: book.id}) }}"
                           class="ui button">modifier</a>&nbsp;
                        <form action="{{ path("deletebook", {id: book.id}) }}"
                              method="post" onsubmit="return confirm('Etes-vous sûre de vous ?');">
                            <input type="hidden" name="_token"
                                   value="{{ csrf_token('delete'~book.id) }}">
                            <button type="submit" class="ui button">Del</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}