{% extends "base.html.twig" %}

{% block title %}Articles filtrés{% endblock %}

{% block body %}
<header class="segment ui raised center aligned orange">
    <h2>Articles Filtrés</h2> {# récupérlisteArticlesation du titre #}
</header>
    <h5>Articles</h5>
    {{ include("front/template_part/_listeArticles.html.twig", {articles: articles}) }}
{% endblock %}