{% extends "base.html.twig" %}
{% block title %}Page d'administration{% endblock %}
{% block body %}
    <header class="segment ui raised center aligned brown inverted">
        <h2>Page d'administration</h2> {# récupérlisteArticlesation du titre #}
        <a href="{{ path("logout") }}" class="ui button mb mt">logout</a>
    </header>

{% endblock %}